@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer base {
	@font-face {
		font-family: "Soehne";
		font-weight: 400;
		src: local("Soehne"), url(/fonts/test-soehne-buch.woff2) format("woff2");
	}

	@font-face {
		font-family: "Soehne";
		font-weight: 500;
		src: local("Soehne"), url(/fonts/test-soehne-kraftig.woff2) format("woff2");
	}

	@font-face {
		font-family: "Soehne";
		font-weight: 700;
		src: local("Soehne"), url(/fonts/test-soehne-halbfett.woff2) format("woff2");
	}
}

body {
}

